image-rendering: pixelated;
image-rendering: -moz-crisp-edges;
image-rendering: crisp-edges;

body {
  background-color: #797979;
  margin: 0;
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/stonecrop.png");
  background-size: 100px;
}

#grass {
  height: 100px;
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/grass_trans.png");
  background-size: 100px;
}

#main {
  position: absolute;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/sky2_90_crop.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: black;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  background: none;
  cursor: pointer;
  color: white;
  border: none;
  position: fixed;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.stuff {
  width: 50%;
  background-size: 10%;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border: 10px solid transparent;
  border-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/dirt.png") 30 round;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#title {
  font-size: 50px;
}

#coal {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/coal.png");
  background-size: 100px;
}

#iron {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/iron.png");
  background-size: 100px;
}

#redstone {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/redstone.png");
  background-size: 100px;
}

#lapis {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/lapis.png");
  background-size: 100px;
}

#gold {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/convice/images/gold.png");
  background-size: 100px;
}

#diamond {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKYysw0H5sa6O3Mvkx9UTvpX_nBcWNNaW4IUNmCM9XsZX86R_oOd614lcJcKsHrHVj0Ak:https://bugs.mojang.com/secure/attachment/209579/diamond_ore.png&usqp=CAU");
  background-size: 100px;
}
