h1 {
  color: #F49FBC;
  text-shadow: 2px 2px 5px red;
}
  
body {
  background-color: #423E3B;
}

img:hover {
  border: solid 5px yellow;
  opacity: 0.5;
  width: 250px;
}

img {
  border: solid 5px LightGray;
}
