@font-face {
  font-family: "80s";
  src: url(PORKYS_.ttf) format("truetype");
}

#title {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/amusement/Looby.png");
  height: 600px;
  display: flex;
  justify-content: center;
}

#maintitle {
  height: 90%;
  width: 100%
  }

body {
  margin: 0;
  background: rgb(128,202,91);
background: linear-gradient(0deg, rgba(128,202,91,1) 0%, rgba(255,211,240,1) 35%, rgba(210,41,38,1) 67%, rgba(122,158,230,1) 100%);
  cursor: url(https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/amusement/Pointer4.png), default;
}

#about {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/amusement/TX_FreddyLogo_White.png");
  background-size: contain;
  background-size: 70%;
  background-repeat: no-repeat;
  width: 50%;
  background-position: center;
  background-color: #ffeb59;
  border: 7px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  margin-bottom: 20%;
  color: #eca316;
}

#logo {
  width: 30%;
  transform: translate(0%, 10%);
}

#title2 {
  font-size: 50px;
}

#fineprint {
  font-size: 10px;
}

#rockstar-row {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #d22926;
  border: 15px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #eca316;
}

#fazer-blast {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #bc53b8;
  border: 15px solid #135fa3;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #135fa3;
}

#golf {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #80ca5b;
  border: 15px solid #996eb7;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #996eb7;
}

#earcade {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #eca316;
  border: 15px solid #135fa3;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #135fa3;
}

#warcade {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #135fa3;
  border: 15px solid #3d0e44;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #3d0e44;
}

#bowl {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #7a9ee6;
  border: 15px solid #f3abd7;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #f3abd7;
}

#rr {
  transform: translate(-50%, -100%);
  z-index: 200;
  position: absolute;
  width: 50%;
}

#gg {
  transform: translate(-45%, -100%);
  z-index: 200;
  position: absolute;
  width: 40%;
}

#attractions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20%;
}

p {
  margin-top: 40%;
  font-family: "80s", sans-serif;
}

#header {
  display: block;
  margin-top: 30%;
}

#sectionheadhead {
  font-size: 100px;
}

#sectionhead {
  margin-bottom: 40%;
}

#gang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40%;
}

#feddy {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #7a9ee6;
  border: 15px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #eca316;
}

#chick {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #e7e5e5;
  border: 15px solid #f3abd7;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #f3abd7;
}

#giga {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #80ca5b;
  border: 15px solid #bc53b8;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #bc53b8;
}

#lowtiergod {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #996eb7;
  border: 15px solid #80ca5b;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #80ca5b;
}

#sun {
  font-size: 35px;
  width: 50%;
  height: 1000px;
  background: rgb(210,41,38);
  background: linear-gradient(180deg, rgba(210,41,38,1) 0%,       rgba(19,95,163,1) 100%);
  border: 15px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
  color: #eca316;
}

#gangs {
  transform: translate(-50%, -100%);
  z-index: 200;
  position: absolute;
}

.navbar {
  overflow: hidden;
  background-color: #eca316;
  font-family: Arial, Helvetica, sans-serif;
  border: 10px solid #ffeb59;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: url(https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/amusement/Pointer4.png), default;
  font-size: 35px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #7a9ee6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7A9EE6;
  min-width: 160px;
  width: 197px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

#sectionheadhead {
  color: white;
}

#sectionhead {
  color: white;
}
#gangss {
  transform: translate(-20%, -100%);
  z-index: 199;
  position: absolute;
}

#titlee {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/amusement/Looby.png");
  height: 600px;
  display: flex;
  justify-content: center;
  margin-top: -20%;
}

@media only screen and (max-width: 1000px) {
  p {
    font-size: 30px;
  }
  
  #attractions {
  display: flex;
  flex-direction: column;
}
  
  #sectionheadhead {
  font-size: 35px;
}
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 20px;
  }
  
  #maintitle {
    width: 90vw;
    height: auto;
  }
}
