@font-face {
  font-family: "80s";
  src: url(PORKYS_.ttf) format("truetype");
}

#title {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/amusement/Looby.png");
  height: 600px;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  background-color: #7a9ee6;
}

#about {
  background-image: url("https://raw.githubusercontent.com/WVCS/index-RenSiddons/main/amusement/TX_FreddyLogo_White.png");
  background-size: contain;
  background-size: 70%;
  background-repeat: no-repeat;
  width: 50%;
  background-position: center;
  background-color: #ffeb59;
  border: 7px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  margin-bottom: 20%;
}

#logo {
  width: 30%;
  transform: translate(0%, 10%);
}

#title2 {
  font-size: 50px;
}

#fineprint {
  font-size: 10px;
}

#rockstar-row {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #d22926;
  border: 15px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#fazer-blast {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #bc53b8;
  border: 15px solid #135fa3;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#golf {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #80ca5b;
  border: 15px solid #996eb7;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#earcade {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #eca316;
  border: 15px solid #135fa3;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#warcade {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #135fa3;
  border: 15px solid #3d0e44;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#bowl {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #7a9ee6;
  border: 15px solid #f3abd7;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#rr {
  transform: translate(-50%, -100%);
  z-index: 200;
  position: absolute;
  width: 50%;
}

#gg {
  transform: translate(-45%, -100%);
  z-index: 200;
  position: absolute;
  width: 40%;
}

#attractions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20%;
}

p {
  margin-top: 40%;
  font-family: "80s", sans-serif;
}

#header {
  display: block;
  margin-top: 30%;
}

#sectionheadhead {
  font-size: 100px;
}

#sectionhead {
  margin-bottom: 40%;
}

#gang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40%;
}

#feddy {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #7a9ee6;
  border: 15px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#chick {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #e7e5e5;
  border: 15px solid #f3abd7;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#giga {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #80ca5b;
  border: 15px solid #bc53b8;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#lowtiergod {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #996eb7;
  border: 15px solid #80ca5b;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#sun {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #e7e5e5;
  border: 15px solid #ffeb59;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#mun {
  font-size: 35px;
  width: 40%;
  height: 1000px;
  background-color: #135fa3;
  border: 15px solid #eca316;
  border-radius: 40px;
  padding: 20px 50px;
  display: inline-block;
}

#gangs {
  transform: translate(-50%, -100%);
  z-index: 200;
  position: absolute;
}

.navbar {
  overflow: hidden;
  background-color: #eca316;
  font-family: Arial, Helvetica, sans-serif;
  border: 10px solid #ffeb59;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 35px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #7a9ee6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7A9EE6;
  min-width: 160px;
  width: 197px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
