@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
  margin: 0;
  background-position: center 0;
  font-family: 'Staatliches', cursive;
  font-size: 12ps;
  background: rgb(0,150,146);
  background: linear-gradient(90deg, rgba(0,150,146,1) 0%,   rgba(0,142,78,1) 100%);
}

* {
  box-sizing: border-box;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  padding: 10px;
  font-size: 16px;
  border: none;
}

input[type=text] {
  width: 100vw;
  border: none;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  border: none;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

#top {
  height: 40px;
  background-color: white;
}

#title {
  font-size: 100px;
  font-family: 'Staatliches', cursive;
}

#purple {
  color: #8B008B;
}

#red {
  color: #B22222;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-item {
  border: 5px solid black;
  font-size: 30px;
  text-align: center;
  background-color: #FFFFF0;
  width: 30%;
  height: 850px;
  position: relative;
}

.grid-item:hover {
  width: 32%;
}

button {
  background: rgb(0,150,146);
  background: linear-gradient(90deg, rgba(0,150,146,1) 0%,     rgba(0,142,78,1) 100%);
  border: none;
  height: 7%;
  width: 80%;
  font-family: 'Staatliches', cursive;
  font-size: 40px;
  position: relative;
  bottom: 5px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

@media only screen and (max-width: 1300px) {
  button {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1150px) {
  button {
    font-size: 25px;
  }
}

@media only screen and (max-width: 800px) {
  button {
    font-size: 10px;
  }
  
  .grid-container {
    flex-direction: column;
  }
  
  .grid-item {
    width: 90%;
    height: 850px;
    margin-bottom: 10%;
  }
  
  .grid-item:hover {
    width: 95%;
  }
  
  button {
    font-size: 35px;
  }
}

li a {
  font-size: 50px;
  text-decoration: none;
  color: #B22222;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
}

#home {
  list-style-type: none;
}
