.title {
  font-size: 50px;
}

.subtitle {
  width: 52vw;
}

img {
  width: 100vw;
}

body {
  background-color: #C874D9;
  color: #253D5B;
  font-family: sans-serif;
}

.fake {
  color: red;
}

p {
  font-size: 5px;
}

#title {
  background-color: #F1E0C5;
  height: 300px;
  align-content: center;
  border-radius: 10px;
  border: 5px solid #D11149;
}

#idea {
  background-color: #F1E0C5;
  height: 300px;
  align-content: center;
  border-radius: 10px;
  border: 2px solid #E0A458;
}

#people {
  background-color: #F1E0C5;
  height: 300px;
  align-content: center;
  border-radius: 10px;
  border: 2px solid #E0A458;
}

#wildlife {
  background-color: #F1E0C5;
  height: 300px;
  align-content: center;
  border-radius: 10px;
  border: 2px solid #E0A458;
}

#why {
  background-color: #F1E0C5;
  height: 300px;
  align-content: center;
  border-radius: 10px;
  border: 2px solid #E0A458;
}

#personal {
  background-color: #253D5B;
  color: #D11149;
  border-radius: 10px;
  border: 5px solid #D11149;
}

#visited {
  width: 70%;
  border-radius: 10px;
  border: 2px solid #E0A458;
}

#friend {
  width: 70%;
  border-radius: 10px;
  border: 2px solid #E0A458;
}
