body {
  background-color: #7e6e39;
  margin: 0;
  font-family: Verdana;
}

.about {
  width: 70vw;
  border: 2px solid #af7939;
  border-radius: 10px;
  color: #e8d2b4;
}

#about-title {
  background-color: #af7939;
  width: 70vw;
  border-radius: 10px;
  margin-top: -0.3%;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#title {
  display: flex;
  align-items: center;
  font-size: 34px;
  color: #f9f2df;
  background: rgb(140,77,29);
background: radial-gradient(circle, rgba(140,77,29,1) 0%, rgba(82,71,20,1) 100%);
  margin: 0;
  padding: 0;
}

button {
  height: 70px;
  background-color: #7e6e39;
  border: none;
}

button:hover {
  cursor:pointer;
}

.dropbtn {
  color: #e8d2b4;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  background-color: #af7939;
  width: 70vw;
  height: 40%;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  z-index: 1;
  width: 70vw;
  font-size: 20px;
  border: 2px solid #af7939;
  color: #e8d2b4;
  text-align: center;
  background-color: #8c4d1d;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 30px;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

#PAROBIMAGE {
  border: 2px solid #af7939; 
}

#caption {
  border: 2px solid #af7939;
  margin-top: -0.5%;
  left: -0.1%;
}
