body {
  background-color: #379c9f;
  margin: 0;
}

.about {
  width: 70vw;
  border: 2px solid #007883;
  border-radius: 10px;
  color: black;
}

#about-title {
  background-color: #007883;
  width: 70vw;
  border-radius: 10px;
  margin-top: -0.3%;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#title {
  display: flex;
  align-items: center;
  font-size: 34px;
  color: #f9f2df;
  background: rgb(35,152,40);
background: radial-gradient(circle, rgba(35,152,40,1) 0%, rgba(27,117,159,1) 100%);
  margin: 0;
  padding: 0;
}

button {
  height: 70px;
  background-color: #379c9f;
  border: none;
}

button:hover {
  cursor:pointer;
}

.dropbtn {
  color: black;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  background-color: #007883;
  width: 70vw;
  height: 40%;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  width: 70vw;
  font-size: 20px;
  left: 51%;
  transform: translateX(-51%);
  border: 2px solid #007883;
  color: black;
  background-color: #239828;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 30px;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}
